@theme {
    /* Brand */
    --heroui-primary: 272 68% 51%;

    /* Text colors */
    --text-color-title: rgb(33 43 54);
    --text-color-subtitle: rgb(69 79 91);
    --text-color-main: rgb(22 28 36);
    --text-color-label: rgb(69 79 91);

    /* Background colors */
    --background-color-main: rgb(255 255 255);
    --background-color-secondary: rgb(248 249 251);
    --background-color-hover: rgb(243 244 246);
    --background-color-active: rgb(245 236 255);

    /* Border colors */
    --border-color-dark: rgb(107 114 128);
    --border-color-divider: rgb(209 213 219);
    --border-color-neutral: rgb(229 231 235);
}

.dark {
    /* Text colors */
    --text-color-title: rgb(236 233 184);
    --text-color-subtitle: rgb(241 240 211);
    --text-color-main: rgb(255 248 240);
    --text-color-label: rgb(50 212 172);

    /* Background colors */
    --background-color-main: rgb(32 15 33);
    --background-color-secondary: rgb(43 20 44);
    --background-color-hover: rgb(72 44 73);
    --background-color-active: rgb(60 25 61);

    /* Border colors */
    --border-color-divider: rgb(145 158 171);
    --border-color-neutral: rgb(107 114 128);
    --border-color-dark: rgb(229 231 235);
}